#window {
  background-color: var(--color-primary);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  border: var(--color-highlight-primary) 7px ridge;
  display: flex;
  flex-direction: column;
}

#window-title {
  padding: 10px;
  border-bottom: var(--color-highlight-primary) 7px ridge;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-secondary);
}

#window-clock {
  color: var(--color-highlight-additional);
}

#window-quote {
  color: var(--color-highlight-secondary);
}

#window-content {
  width: 900px;
  height: 500px;
  display: flex;
}

#window-gif {
  background-image: url("../assets/gifs/clouds.gif");
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
  border-right: var(--color-highlight-primary) 7px ridge;
}
